/* project: internet services template
 * author: luka cvrk (www.solucija.com)
 * re-implement as drupal theme: Edison Wong (edin.no-ip.com)
 */

/*
** HTML elements
*/
body { 
  padding: 10px; 
  margin: 0; 
  font: 0.80em Tahoma, sans-serif; 
  line-height: 1.3em;
  background: #fff; 
  color: #454545;
  direction:rtl;
}
a {  
  color: #E0691A;
}
a:hover { 
  color: #6C757A;
}
h1 { 
  font: normal 2.1em Arial, Sans-Serif; 
}
h1 a, h2 a {
  text-decoration: none;
}
h1 a:hover, h2 a:hover {
  color: #FF6600; 
}
h2 { 
  font: bold 1.5em Arial, Sans-Serif; 
}
p {  
  margin: 0 0 5px 0; 
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #ccc;
}
pre {
  background-color: #f5f5f5;
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #ddd;
}
blockquote {
  background-color: #f5f5f5;
  padding: 0.75em 1.5em;
  border: 2px dashed #ddd;
}

/*
** Page layout blocks / IDs
*/
#content {
  margin: 0 auto;
  width: 98%; /*760px;*/  
  text-align: right;
}
#header, #bar, #search_bar, #block-header, #footer {
  width: 100%;
  padding: 0;
  margin: 0;
}
#header {
  font-size: 0.83em;
  display: block;
  float: left;
  background-color: #EEEEEE;
  color: #808080;
  border-bottom: 1px solid #ccc;
  margin: 13px 0 0 0;
}
#logo {
  display: inline;
  float: left;
  margin: 10px 10px 10px 10px;
  border: 0;
  max-width: 250px;
  max-height: 64px;
}
#header h1 {
  max-width: 250px;
  margin: 10px 0 0 0;
}
#slogan {
  font-weight: normal;
  font-style: normal;
  margin: 0px 0px 0px 0px;
  max-width: 250px;
}
#adsense {
  float: right;
  margin: 10px 10px 10px 0;
}
#block-header {
  display: inline;
  float: left;  
  margin: 0px 0 10px 0px;
}
#bar { 
  display: block;
  float: right;
  font-weight: bold;
  font-size: 1.1em;
  height: 30px;
  color: #FFFFFF;
  margin: 3px 0 0 0; 
  background: #FF9148;
}
#bar p {
  float: right;
  margin: 7px 0px 5px 12px;
  font-size: 0.83em;
  color: #FFFFFF;
  background: #FF9148;
  text-align: left;
}
#bar ul {
  display: block;
  float: right;
  margin: 0; 
  padding : 0;
  list-style : none;
  width: 569px;
}
#bar li { 
  display: block;
  float: right; 
  margin: 0; 
  padding: 0;
  color: #FFEADC;
  background: #FF9148;
}
#bar li a {
  font-size: 0.83em;
  display: block;
  padding: 7px 12px 5px 12px;
  margin: 0;
  font-weight: bold;
  color: #FFFFFF; 
  background: inherit;
  text-decoration: none;
}
#bar li a:hover {
  color: #FF6600;
}
#bar li .active, #bar li.active a  {
  display: block;
  color: #FFFFFF; 
  font-weight: bold;
  margin: 0; 
  padding: 7px 12px 5px 12px;
  background: #E0691A url('images/bar.gif') no-repeat center top;
}
#bar a.active:hover {
  color: #FFFFFF;
}
#search_bar {
  font-size: 0.83em;
  display: block;
  float: right;
  color: #808080;
  font-weight: bold;
  margin: 4px 0 0 0;
}
#search_bar p {
  float: right;
  margin: 4px 0px 0 12px;
  text-align: left;
}
#search_box {
  display: block;
  float: left;
  margin: 0; 
  padding : 4px 0;
  list-style : none;
  width: 573px;
  height: 34px;
  background: #fff url('images/searchbg.gif') no-repeat right;
  
}
#search_box p {
  float: right;
  margin: 8px 0px 10px 16px;
  text-align: right;
}
#search_box .form-text {
  display: block;
  float: right;
  width: 300px; 
  border: 0;
  padding: 4px 0;
  margin: 5px 0 5px 4px; 
  background: #FFFFFF url('images/input.gif') no-repeat;
  color: #E0691A;
  font-weight: bold;
}
#search_box .form-submit {
  display: block;
  float: right;
  background: #E0691A url('images/submit.gif') no-repeat;
  border: 0;
  padding: 4px 0;
  margin: 5px 0 5px 4px;
  width: 65px;  
  height: 24px;
  color: #FFF;
  font: bold 1em Arial, Sans-Serif;
}
#search_box a {
  color: #808080;
  float: right;
  margin: 8px 0 0 15px;
  text-align: left;
}
#left {
  display: block;
  float: right;
  width: 65%;
  margin: 0;
  background : #ffffff;
}
#right {
  display: block;
  float: left;
  width: 34.6%;
  margin: 0;
}
.block { 
  font-size: 0.83em;
  margin: 3px 0 0 0;
}
.block-hidden {
  display: none;
}
.blockhead {
  font: bold 1em Tahoma, Arial, Sans-Serif;
  color: #FFF;
  padding: 7px 0 7px 5px;
}
.blockhead-content {
  background: #A9C0CE url('images/corner-rtl.gif') no-repeat top left;
}
.blockhead-right {
  background: #6C757A  url('images/corner-rtl.gif') no-repeat top left;
}
.blockhead-left {
  background: #6C757A  url('images/corner-rtl.gif') no-repeat top left;
}
.blockbody {
  padding: 8px;
  margin: 3px 0 0 0;
}
.blockbody-right {
  background: #f5f5f5;
  color: #414141;
}
.blockbody-left {
  background: #f5f5f5;
  color: #414141;
}
#footer { 
  display: block;
  float: left;
  text-align: center;
  padding: 10px 0 0 0;
  margin: 10px 0 0 0;
  border-top: 1px solid #ccc;
  line-height: 1.8em;
}
#footer a { 
  color: #808080; 
  background: #fff; 
}

/*
** Common declarations for child classes of node, comment, block, box, etc.
** If you want any of them styled differently for a specific parent, add
** additional rules /with only the differing properties!/ to .parent .class.
** See .comment .title for an example.
*/
.pagetitle { /* Used on static pages and archives */
  text-align: center;
  margin: 15px 0 15px;
}
.pagetitle h2 { /* H2 is what kind of page you are on. Eg. 'Monthly Archive'. */
  font-weight: bold;
  text-align: center;
  display: inline;
}
.itemhead {
  margin-top: 10px;
}
.itemhead .title a {
  display: block;
  float: right;
  color: #333333;
}
.editlink a {
  display: block;
  float: right;
  width: 16px;
  height: 16px;
  border: none !important;
  padding: 0 !important;
  margin: 4px 4px 0 0 !important;
}
.metadata { /* Time and category for blog entries */
  display: block;
  clear: both;
  margin-top: 2px;
  padding-top: 5px;
  color: #aaa;
}
.chronodata {
  display: block;
  float: right;
  padding: 2px 20px 2px 0 ;
  background: url('images/time.png') right center no-repeat;
  margin-left: 10px;
}
.tagdata {
  display: block;
  float: right;
  padding: 2px 20px 2px 0;
  background: url('images/tag_blue.png') right center no-repeat;
}
.commentslink {
  display: block;
  /*clear: right;*/
  clear : both;
  /*float: right;*/
  padding: 2px 20px 2px 0;
  background: url('images/comment.png') right center no-repeat;
}
.itemtext {
  clear: both;
}
table {
  max-width: 100%;
  font-size: 0.85em; 
} 
th {
  letter-spacing: normal
} 
table strong {
  letter-spacing: normal
} 
.node table, .block table {
  font-size: 1em; 
  letter-spacing: normal;
}
#pager {
  display: block;
  margin: 10px;
}
#pager a, #pager a:hover {
  text-decoration: none;
}

/*
** Module specific styles
*/
.product-table td * {
  max-width: 145px;
  /* IE hack */
  width:expression(document.body.clientWidth > 145 ? "145px": "auto" );
}
